In [12]:
import pandas as pd
import numpy as np

In [13]:
pharm = pd.read_csv("pharmacy_tx.csv")#Import the original dataset

print(len(pharm))#Check the size of the dataset

13910244

In [14]:
pharm.head()#see original layout

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay
0,2022-01-02,Pharmacy #6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39
1,2022-01-02,Pharmacy #42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02
2,2022-01-02,Pharmacy #37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39
3,2022-01-02,Pharmacy #30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84
4,2022-01-02,Pharmacy #18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00

In [15]:
pharm[['type', 'drug']]=pharm['drug'].str.split(' ', expand = True)#split the drug name from the branded/generic designation

In [16]:
pharm.head()#confirm layout change

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay,type
0,2022-01-02,Pharmacy #6,G99.93,tanoclolol,725700,1UQC,NaN,False,13.39,branded
1,2022-01-02,Pharmacy #42,U60.52,oxasoted,664344,NaN,52H8KH0F83K,False,7.02,branded
2,2022-01-02,Pharmacy #37,Q85.91,cupitelol,725700,1UQC,NaN,False,13.39,branded
3,2022-01-02,Pharmacy #30,U60.52,oxasoted,571569,KB38N,6BYJBW,False,10.84,generic
4,2022-01-02,Pharmacy #18,N55.01,mamate,664344,NaN,ZX2QUWR,False,47.00,branded

In [17]:
print(len(pharm))#confirm the size of the dataset is unaffected by the split

13910244

In [11]:
pharm.to_csv("pharm.csv")#export dataset to new csv file